<div class = "header"></div>
<br>
<br>
<div class = "error">
    <h1>City not Found</h1>
    <br>
    <h3>Please check your spelling & try again</h3>
    <br>
    <br>
    <a href = '/'>Back</a>
</div>